body{
	margin: 0px;
}
.div-container-title{
	height: 90px;
	background-color: #eeffe0;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}
.img-logo{
	width: 80px;
}
.div-container-text-header{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	margin-left: 10px;
	margin-right: 10px; 
}
.p-header-green{
	margin-left: 5px;
	margin-right: 5px;
	color: #248C00;
	font-size: 36px;
	font-family:Arial;
	font-weight: bold;
}
.p-header-pink{
	margin-left: 5px;
	margin-right: 5px;
	color: #EF3337;
	font-size: 38px;
	font-family:Arial;
	font-weight: bold;
}
/*стили для текста в поле поиска*/
form {
  float: right;
}
.input-search{
	background-color: #74ff3285;
	width: 180px;
	height: 30px;
	padding-left: 15px;
	border-radius: 42px;
	border: 1px solid #74ff3285;
	outline: none;
	position: relative;
	transition: .3s linear;
}
::-webkit-input-placeholder {
	font-size: 15px;
	color: #248C00;
}
.input-search:focus {
  width: 250px;
}
.button-none {
    display: none;
}

/*---------------------*/
.nav-container-menu{
	background-color: #97FD32;
}
.nav-container-menu a{
	color:#FD3256;
	font-size: 25px;
	font-family: Arial;
	font-weight: bold;
	text-decoration: none;
}
.nav-container-menu a:hover{
    color: #328017; /* Цвет ссылки при наведении на нее курсора мыши */
}
.nav-container-menu ul{
	list-style-type: none;
	padding: 0px;
}
.div-container-menu{
	margin: 0 auto;
	width: 70%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}
.div-container-menu hr{
	height: 35px;
	color: #248C00;
} 
/*end haeder*/
/*main*/
main{
	padding-top: 20px;
}
.div-name-pink{
	width: 430px;
	margin: 0 auto;
	background-color: #FD3256;
	padding: 5px;
}
.p-name-article{
	color: #FFFFFF;
	font-family: Arial;
	font-weight: bold;
	font-size: 25px;
	margin: 0px;
	text-align: center;
}
.hr-pink{
	margin: 0 auto;
	padding: 0;
	border: none;
	border-top: 2px solid #FD3256;
	margin-bottom: 20px;
}
.div-container-main{
	margin: auto;
	width: 67%;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
}
.div-container-row{
	height: 270px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	align-content: center;
	border: 1px solid #74b6344d;
	-webkit-box-shadow: 7px 9px 13px -9px rgba(0, 0, 0, 0.58);
	-moz-box-shadow: 7px 9px 13px -9px rgba(0, 0, 0, 0.58);
	box-shadow: 7px 9px 13px -9px rgba(0, 0, 0, 0.58);
	margin-bottom: 30px;
}
.div-container-text{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items:flex-start;
	align-content: flex-start;
}
.a-header-title{
	margin-left: 5px;
	margin-right: 5px;
	color: #74b634;
	font-size: 38px;
	font-family:Arial;
	font-weight: bold;
	margin-left: 50px;
	margin-top: 10px;
}
.div-container-text a:hover{
    color: #FD3256; /* Цвет ссылки при наведении на нее курсора мыши */
}
.div-container-img{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items:flex-start;
	align-content: flex-start;
}
.div-container-img img{
	height: 270px;
}
.div-container-text ul{
	color:#ba334bf7;
	font-size: 21px;
	font-family: Arial;
	font-weight: bold;
	margin: 15px;
	margin-left: 0px;
	margin-top: 10px;
}
.div-container-text li{
	padding: 4px;
}
/*сервис------------------------*/
.legend{
	margin: 0 auto;
    color: #f63e61;
    font-size: 30px;
    font-family: Arial;
    font-weight: bold;
}
fieldset{
	border-radius: 50px;
    background-color: #f67eff38;
    width: 100%;
    border: 1px solid #74b6344d;
	-webkit-box-shadow: 7px 9px 13px -9px rgba(0, 0, 0, 0.58);
	-moz-box-shadow: 7px 9px 13px -9px rgba(0, 0, 0, 0.58);
	box-shadow: 7px 9px 13px -9px rgba(0, 0, 0, 0.58);
}
.div-container-servis{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}
#test{
	width: 80%;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
	margin-bottom: 40px;
}
.button-servis{
	margin-top: 15px;
    margin-bottom: 15px;
	border-radius: 25px;
	border: 1px solid #74b6344d;
	-webkit-box-shadow: 7px 9px 13px -9px rgba(0, 0, 0, 0.58);
	-moz-box-shadow: 7px 9px 13px -9px rgba(0, 0, 0, 0.58);
	box-shadow: 7px 9px 13px -9px rgba(0, 0, 0, 0.58);
	color: #1c411a;
    font-size: 17px;
    font-family: Arial;
    font-weight: bold;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 10px;
	padding-left: 10px;
 	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items:center;
	align-content: center;
	background: linear-gradient(#3bff4482, #65ff3ed9) #8fff20;
}
button:hover{
	background: linear-gradient(#1edb00, #acff98d9) #9ae127;
}
button:active{
	background: linear-gradient(#1edb00, #acff98d9) #9ae127;
}
.p-text-servis{
    color: #970c0cf7;
    font-size: 19px;
    font-family: Arial;
    font-weight: bold;
    margin-bottom: 8px;
    text-align: center;
}
.div-container-label{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
    align-items: center;
	align-content: flex-start;
	padding-left: 20px;
}
.label-container{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items:center;
	align-content: flex-start;
	margin-right: 40px;
}
.div-container-button{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items:center;
	align-content: center;
}
.label-servis{
	display: inline-block;
	cursor: pointer;
	font-size: 20px;
	color: #070101bd;
	font-family: Arial;
	font-weight: bold;
}
.input-servis{
	margin-top: 9px;
	margin-right: 5px;
    content: "\2022";
    color: #2ba922;
    font-size: 40px;
    text-align: center;
    line-height: 21px;
}
.card{
	padding-bottom: 15px;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items:center;
	align-content: center;
	border-radius: 50px;
	background-color: #ab9dff42;
    width: 100%;
    border: 1px solid #62193c4d;
	-webkit-box-shadow: 7px 9px 13px -9px rgba(0, 0, 0, 0.58);
	-moz-box-shadow: 7px 9px 13px -9px rgba(0, 0, 0, 0.58);
	box-shadow: 7px 9px 13px -9px rgba(0, 0, 0, 0.58);
}
.img-s{
	width: 30%;
	border-radius: 15px;
	border: 1px solid #74b6344d;
	-webkit-box-shadow: 7px 9px 13px -9px rgba(0, 0, 0, 0.58);
	-moz-box-shadow: 7px 9px 13px -9px rgba(0, 0, 0, 0.58);
	box-shadow: 7px 9px 13px -9px rgba(0, 0, 0, 0.58);
}
.p-header-res-servis{
    color: #b61f1f;
    font-size: 36px;
    font-family: Arial;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}
#list{
	margin-bottom: 20px;
}
.p-servis-description{
	color: #000000c7;
    font-size: 20px;
    font-family: Arial;
    text-align: justify;
    width: 90%;
    margin-top: 0px;
    margin-bottom: 10px;
}
.p-servis-author{
	color: #389717;
    padding-left: 10px;
    font-size: 22px;
    font-family: Arial;
    font-weight: bold;
    margin: 0px;
    margin-bottom: 15px;
    text-align: center;
    width: 60%;
}
/*end сервис------------------------*/
/*end main*/
/*footer*/
footer{
	margin-top: 40px;
	background-color: #92b86dd4;
	margin: auto;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}
.div-footer{
	width: 48%;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}
.div-footer p{
	color: #091f12;
	font-family: Arial;
	font-weight: bold;
	font-size: 15px;
	margin: 5px;
	text-align: center;
}
.img-network{
	padding-top: 5px;
	margin-left: 5px;
	width: 27px;
}
/*медиа запросы*/
/* iPads (горизонтальная) ----------- */
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation : landscape){
/*header-----------------------------*/
body{
	height: 100%;
}
.img-logo {
    width: 80px;
}
.p-header-green {
    font-size: 35px;
    margin-right: 0px;
}
.p-header-pink {
    font-size: 38px;
}
.div-container-menu{
	width: 93%;
	height: 65px;
}
.nav-container-menu a {
    font-size: 27px;
}
.div-container-menu hr {
    height: 28px;
}
.div-container-text-header {
    margin-left: 15px;
    margin-right: 15px;
}
.input-search{
	width: 170px;
}
.input-search:focus {
  width: 230px;
}
/*end header-----------------------*/
/*main-----------------------------*/
.div-container-main{
    width: 85%;
}
.p-name-article {
    font-size: 25px;
}
.div-name-pink {
    width: 400px;
}
.a-header-title {
    font-size: 33px;
}
.div-container-text ul {
    font-size: 21px;
}
.div-container-text{
    width: 70%;
}
.div-container-row {
    height: 270px;
}
.div-container-img {
    height: 100%;
    width: 60%;
}
.div-container-img img {
    height: 100%;
    width: 100%;
}
/*servis-------------------*/
#test {
    width: 90%;
}
.legend {
    font-size: 38px;
}
.p-text-servis {
    font-size: 21px;
}
.input-servis {
    margin-top: 12px;
}
.button-servis {
    font-size: 19px;
}
.img-s {
    width: 50%;
}
.p-servis-author {
    font-size: 30px;
}
.p-servis-author {
    width: 90%;
}
/*end servis---------------*/
/*end main--------------------*/
/*footer-----------------------*/
.div-footer{
    width: 85%;
}
.div-footer p {
    font-size: 18px;
}
.img-network {
    width: 33px;
}
}
/* iPads (вертикальная) ----------- */
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation : portrait){
/*header-----------------------------*/
body{
	height: 100%;
}
.img-logo {
    width: 70px;
}
.p-header-green {
    font-size: 30px;
    margin-right: 0px;
}
.p-header-pink {
    font-size: 33px;
}
.div-container-menu{
	width: 97%;
	height: 50px;
}
.nav-container-menu a {
    font-size: 21px;
}
.div-container-menu hr {
    height: 25px;
}
.div-container-text-header {
    margin-left: 5px;
    margin-right: 5px;
}
.input-search{
	width: 150px;
}
.input-search:focus {
  width: 180px;
}
/*end header-----------------------*/
/*main-----------------------------*/
.div-container-main{
    width: 90%;
}
.p-name-article {
    font-size: 22px;
}
.div-name-pink {
    width: 330px;
}
.a-header-title {
    font-size: 28px;
}
.div-container-text ul {
    font-size: 18px;
}
.div-container-text{
    width: 70%;
}
.div-container-row {
    height: 240px;
}
.div-container-img {
    height: 100%;
    width: 60%;
}
.div-container-img img {
    height: 100%;
    width: 100%;
}
.p-servis-author {
    width: 95%;
}
/*servis-------------------*/
#test {
    width: 90%;
}
.legend {
    font-size: 30px;
}
.p-text-servis {
    font-size: 19px;
}
.input-servis {
    margin-top: 12px;
}
.button-servis {
    font-size: 17px;
}
.p-header-res-servis {
    font-size: 30px;
}
.p-servis-description {
    font-size: 18px;
}
.img-s {
    width: 50%;
}
/*end servis---------------*/
/*end main--------------------*/
/*footer-----------------------*/
.div-footer{
    width: 85%;
}
.div-footer p {
    font-size: 16px;
}
.img-network {
    width: 33px;
}
}
/* iPhone 6 ----------- */
@media only screen and (min-device-width : 375px) and (max-device-width : 667px) and (orientation : portrait) { 
/*header-------*/
.img-logo {
    display: none;
}
.div-container-text-header {
    margin-left: 2px;
    margin-right: 2px;
}
.div-container-title {
    flex-direction: row;
    flex-wrap: wrap;
    height: 110px;
}
.p-header-green {
    font-size: 22px;
    margin-top: 0px;
    margin-bottom: 15px;
    margin-left: 0px;
    margin-right: 0px;
}
.p-header-pink {
    font-size: 25px;
    margin-top: 0px;
    margin-bottom: 15px;
}
.input-search {
    width: 220px;
    height: 30px;
    padding: 0px;
    padding-left: 40px;
}
.input-search:focus {
   width: 350px;
}
::-webkit-input-placeholder {
	font-size: 18px;
	color: #248C00;
}
.div-container-menu {
    width: 95%;
}
.nav-container-menu a {
    font-size: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
}
.hr-del{
	display: none;
}
.div-container-menu hr {
    height: 15px;
}
/* end header--------------------------*/
/* main--------------------------*/
.div-name-pink {
    width: 290px;
}
.p-name-article {
    font-size: 20px;
}
.div-container-row {
	height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}
.div-container-text {
	height: 240px;
	width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
}
.a-header-title {
    font-size: 30px;
}
.div-container-text ul {
    font-size: 18px;
    margin-right: 5px;
}
.div-container-img img {
    display: none;
}
.div-container-main {
    margin: auto;
    width: 95%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
/*servis-------------------*/
.p-text-servis {
    font-size: 18px;
}
.label-container {
    margin-right: 20px;
}
.legend {
    font-size: 27px;
    text-align: center;
}
.p-header-res-servis {
    font-size: 26px;
}
.p-servis-author {
    font-size: 21px;
    width: 95%;
}
.p-servis-description {
    font-size: 18px;
}
.img-s {
    width: 90%;
}
#test {
    margin-bottom: 20px;
}
/*end servis---------------*/
/* end main--------------------------*/
/* footer ------------------------*/
.div-footer {
    width: 93%;
}
.div-footer p {
    font-size: 15px;
}
.img-network {
    padding-top: 10px;
    margin-left: 10px;
    width: 30px;
}
footer{
	padding-top: 10px;
	padding-bottom: 10px;
}
}
/* iPhone 6 (горизонтальная) ----------- */
@media only screen and (min-device-width : 375px) and (max-device-width : 667px) and (orientation: landscape) {
/*header-----------------------------*/
body{
	height: 100%;
}
.img-logo {
    width: 60px;
    padding-top: 0px;
}
.p-header-green {
    font-size: 28px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-top: 0px;

}
.p-header-pink {
    font-size: 30px;
    margin-bottom: 0px;
    margin-top: 0px;
}
.div-container-title {
    flex-wrap: wrap;
    height: 70px;
}
.input-search {
    height: 25px;
}
.div-container-text-header {
    margin-left: 2px;
    margin-right: 2px;
}
/*стили для текста в поле поиска*/
form {
  float: right;
}
.input-search{
	width: 127px;
	padding-left: 6px;
}
input:focus {
  width: 120px;
}
button {
    display: none;
}
/*---------------------*/
.div-container-menu {
    width: 68%;
}
.nav-container-menu a {
    font-size: 25px;
    padding-bottom: 7px;
    padding-top: 4px;
}
.hr-del{
	display: none;
}
.div-container-menu hr {
    height: 20px;
}
/*end header-----------------------*/
/*main-----------------------------*/
main {
    padding-top: 10px;
}
.div-container-main{
    width: 95%;
}
.p-name-article {
    font-size: 22px;
}
.div-name-pink {
    width: 345px;
}
.a-header-title {
    font-size: 28px;
}
.div-container-text ul {
    font-size: 18px;
}
.div-container-text{
    width: 70%;
}
.div-container-row {
    height: 270px;
}
.div-container-img {
    height: 100%;
    width: 75%;
}
.a-header-title {
    margin-left: 20px;
    margin-top: 10px;
}
.div-container-img img {
    height: 100%;
    width: 100%;
}
.div-container-text li {
    padding: 1px;
}
/*servis-------------------*/
#test {
    width: 90%;
}
.legend {
    font-size: 28px;
}
.p-text-servis {
    font-size: 18px;
}
.input-servis {
    margin-top: 12px;
}
.button-servis {
    font-size: 16px;
}
.img-s {
    width: 50%;
}
.p-header-res-servis {
    margin-top: 6px;
    margin-bottom: 6px;
    font-size: 32px;
}
.p-servis-author {
    font-size: 25px;
}
.p-servis-author {
    width: 90%;
}
.p-servis-description {
    font-size: 17px;
}
/*end servis---------------*/
/*end main--------------------*/
/*footer-----------------------*/
.div-footer{
    width: 85%;
}
.div-footer p {
    font-size: 14px;
}
.img-network {
    width: 27px;
}
}