body {
 	background-color: #bfdaf2;
}
table {
	margin: 0 auto; 
	background-color: white;
	padding: 10px;
}
td, th {
	padding: 3px;
}
h1{
	font-size: 40px;
	color: #c1343e;
	font-family: Arial Black;
	text-align: center;
	margin: 5px;
}
h2{
	color: #585960;
	font-family: Verdana;
	text-align: center;
	margin: 5px;
	padding-top: 15px;
}
h3{
	color: #20202C;
	font-family: Trebuchet MS;
	text-align: center;
}
p{
	font-size: 20px;
	margin: 7px;
	color: #20202C;
	font-family: Lucida Sans Unicode;
	text-align: justify;
}
.heading{
	font-size: 27px;
	font-weight: bold;
	margin: 7px;
	color: #0D4B6B;
	font-family: Verdana;
	text-align: center;
}
img{
	margin: 3px;
}
hr{
	margin: 0px 0;
	padding: 0;
	height: 0;
	border: none;
	border-top: 1.5px solid #bfdaf2;
}